body{
    background: url("./images/img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /*margin: 0;
    padding: 0%;
    background-position: 100px 200px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: rgb(92, 88, 88);*/
}
.container{
    width: 80%;
    margin: auto;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(245, 203, 167,);
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #080808;
    border-top: 3px solid #080808;
}
header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header li{
    display: inline;
    padding: 0 20px;
}
header .branding{
    float: left;
}
header nav{
    float: right;
    margin-top: 20px;
}
header .highlight{
    color: #ff0000;
    font-weight: bold;
}
header a:hover{
    color: #ff1e00;
    font-weight: bold;
}
/*#showcase{
    min-height: 400px;
    background: url("./images/img.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0%;
    background-position: 100px 200px;
    text-align: center;
    color: #fff;
}*/
#showcase h1{
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
}
#showcase p{
    font-size: 20px;
}
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding-top: 80px;
}
#boxes .box img{
    width: 150px;
}

#boxes .box h3{
    text-transform: uppercase;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: black;
    background: #c0b691;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#sidebar{
    float: left;
    width: 30%;
}
#main-col{
    float: right;
    width: 65%;
    padding: 0;
    margin: 0;
}
.dark{
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
}
#services li{
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: #e6e6e6;
}
