@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

body{
    background-color: #EEC8C8;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color:rgb(98, 236, 79);
    padding: 1%;
}

h1{
    color: rgb(235, 8, 8);
}

.container h3{
    background-color: rgb(80, 119, 106);
    color: rgb(58, 9, 194);
    padding: 1%;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}

 div {
    font-size: 10px;
} 
p{
    color: hsl(339, 32%, 57%);
    font-family: 'Imperial Script', Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.6em;
}

#second-p{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

#box-model{
    background-color:lightgrey;
    width: 300px;
    border: 15px solid rgb(63, 219, 42);
    padding: 50px;
     margin: 20px; 
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px; 

     margin: 5px 10px 5px 10px; 
    margin: 5px 10px;
}

.categories{
    border: 1px solid rgb(92, 85, 85);
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}

.categories a{
    text-decoration: none;
    color: rgb(65, 28, 28);
}

.categories a:hover{
    text-decoration: underline;
    color: red;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: 1px dotted #333;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.button:hover{
    background: chartreuse;
    cursor: pointer;
}