* {
    box-sizing: border-box;
}
.box{
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}
.box1 {background: red;}
.box2 {background: yellow;}
.box3 {background: green;}
.box4 {background: blue;}
.box5 {background: orangered;}
.box6 {background: black;}
.box7 {background: pink;}
.box8 {background: white;}
.box9 {background: violet;}
.box10 {background: skyblue;}

.container{
    display: flex;
    /*border: 5px solid black;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;*/
}

.box{
    flex: 1;
    /*width: 33.3%;*/
}

.box3{
    order: 1;
}

.box2{
    order: 10;
}
.box1{
    order: 10;
}



